@model AccessoryVM

@section Css{
    <style>
        .main {
            border: 1px solid red;
        }

        .hover {
            border: 1px solid green;
        }
    </style>
}
<h4>ProductVM</h4>
<hr />
<div class="row">
    <div class="col-md-6">

        <form asp-action="Edit" enctype="multipart/form-data">
            <div class="row images my-4">
                @foreach (var image in Model.AllImages)
                {
                    <div class="col-3">
                        <div class="card" style="width:152px">
                            <img style="width:150px;height:150px;object-fit:contain" src="~/assets/images/Product/@image.Image" class="card-img-top @(image.IsMain == true ? "main" : "") " />
                            @if (image.IsMain == false)
                            {
                                <div class="card-button">
                                    <button type="button" class="btn btn-danger w-100 delbtn">Delete Image</button>
                                </div>
                            }
                            <input type="hidden" name="ImagesId" value="@image.Id" />
                        </div>
                    </div>
                }

            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="MainPhoto" class="control-label"></label>
                <input asp-for="MainPhoto" class="form-control" accept="image/*">
                <span asp-validation-for="MainPhoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Images" class="control-label"></label>
                <input asp-for="Images" class="form-control" accept="image/*">
                <span asp-validation-for="Images" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discount" class="control-label"></label>
                <input asp-for="Discount" class="form-control" />
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SKU" class="control-label"></label>
                <input asp-for="SKU" class="form-control" />
                <span asp-validation-for="SKU" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desc" class="control-label"></label>
                <input asp-for="Desc" class="form-control" />
                <span asp-validation-for="Desc" class="text-danger"></span>
            </div>
            <div>
                <label class="control-label">Brands</label>
                <select asp-for="BrandId" asp-items="@(new SelectList(ViewBag.Brand,"Id","Name"))" class="form-control">
                </select>
                <span asp-validation-for="BrandId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Categories</label>
                <select asp-for="CategoryIds" asp-items="@(new SelectList(ViewBag.Categories,"Id","Name"))" class="form-control"></select>
                <span asp-validation-for="CategoryIds" class="text-danger"></span>
            </div>
            <div class="mt-5 form-group">
                <label class="control-label">Color and Quantity</label>
                <div class="d-flex">
                    <select class="form-control colors" asp-items="@(new SelectList(ViewBag.Colors,"Id","ColorName"))"></select>
                    <input class="form-control quantity" type="number" value="1" class="mt-4 " placeholder="how much the Product" />colo
                </div>
                <button class="btn btn-success add-buttons" type="button">+</button>
                <button class="btnSubmit btn btn-danger" type="button">Submit</button>

                <input type="hidden" id="product-data" name="AccessoryColor" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts{
    <script>let delbtn = document.querySelectorAll(".delbtn");
        delbtn.forEach(btn => {
            btn.addEventListener("click", function () {
                this.parentElement.parentElement.parentElement.remove();
                console.log(this.parentElement.parentElement.parentElement)
            })
        })
        var button = document.querySelector(".btnSubmit");
        button.addEventListener("click", function () {
            var colors = document.querySelectorAll(".colors");
            var quantities = document.querySelectorAll(".quantity");
            var hiddenInput = document.getElementById("product-data");
            var data = [];
            for (var i = 0; i < colors.length; i++) {
                var ColorId = colors[i].value;
                var quantity = quantities[i].value.trim();

                if (quantity === '') {
                    quantity = '1';
                }
                if (quantity <= 0) {
                    return;
                }
                data.push(ColorId + "-" + quantity);
            }
            hiddenInput.value = data.join(",");
            console.log(hiddenInput);
        });

        var addButton = document.querySelector(".add-buttons");
        addButton.addEventListener("click", function () {
            var parentDiv = this.previousElementSibling;
            var newDiv = parentDiv.cloneNode(true);
            parentDiv.after(newDiv);
        });

        let delbtnSizes = document.querySelectorAll(".delbtnsize");
        delbtnSizes.forEach(btn => {
            btn.addEventListener("click", function () {
                this.parentElement.remove();
                console.log(this.parentElement)
                var id = this.getAttribute("data-id");
                var hiddenInput = document.getElementById("delete-data");
                var currentHiddenValue = hiddenInput.value;
                if (currentHiddenValue) {
                    currentHiddenValue += "," + id;
                } else {
                    currentHiddenValue = id;
                }
                hiddenInput.value = currentHiddenValue;
            })
        })</script>
}