@model IEnumerable<Accessory>

<p style="padding-top:10px;padding-left:10px;">
    <a style="
     background-color: gray;
     display: inline-block;
     text-decoration: none;
     height: 30px;
     width: 120px;
     color: white;
     text-align: center;
     border-radius: 14px;
     padding-top: 4px;"
       asp-action="Create">
        Create New
    </a>
</p>

<form method="post" action="#" class="searchFormMain" style="padding-top: 14px;">
    <input style="padding: 5px; width: 510px;" class="searchInputMain" type="search" placeholder="Search Accessory in Admin Panel">
    <ul style="display: none; border: 1px solid #828282; position: relative; top: -1px; left: 0px; width: 510px; padding: 15px; z-index: 5000; background-color: white;" class="searchUlMain">
    </ul>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscountPrice)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Descr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SKU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>

            <th>
                Accessories Colors
            </th>
            <th>
                Quantity
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img class="primary-img" style="width:100px;height:100px; object-fit:contain"
                         src="~/assets/images/Product/@item.AccessoryImages.FirstOrDefault(x=>x.IsMain==true)?.Image"
                         alt="Product Images" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiscountPrice)
                </td>
                <td>
                    @(item.Descr.Length > 15 ? string.Concat(item.Descr.Substring(0, 15), "...") : item.Descr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InStock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SKU)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand.Name)
                </td>
                <td>
                    @foreach (var colorSize in item.accessoryColors)
                    {
                        <div>
                            <span>@colorSize.Color.ColorName</span> 
                            -<span>@colorSize.Quantity</span>
                        </div>
                    }
                </td>
                <td>
                    @item.accessoryColors.Sum(p => p.Quantity)
                </td>
                <td>
                    <a style=" text-decoration: none; color: red;" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a style=" text-decoration: none; color: orange;" asp-action="Detail" asp-route-id="@item.Id">Detail</a> |
                    <a style=" text-decoration: none; color: red;" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<nav class="mt-3 d-flex justify-content-center" aria-label="...">
    <ul class="pagination">
        <li class="page-item  @(ViewBag.CurrentPage == 1 ? "disabled" : "")">
            <a class="page-link" asp-action="Index" asp-route-page="@(ViewBag.CurrentPage-1)" tabindex="-1">Previous</a>
        </li>
        @for (int i = 1; i <= ViewBag.TotalPage; i++)
        {
            <li class="page-item @(i==ViewBag.CurrentPage ? "active pointerNone" : "")">
                <a class="page-link" asp-action="Index" asp-route-page="@i">@i</a>
            </li>
        }

        <li class="page-item @(ViewBag.TotalPage == ViewBag.CurrentPage ? "disabled" : "")">
            <a class="page-link" asp-action="Index" asp-route-page="@(ViewBag.CurrentPage+1)">Next</a>
        </li>
    </ul>
</nav>

<script>const form = document.querySelector('.searchFormMain');
        const input = form.querySelector('.searchInputMain');
        const results = form.querySelector('.searchUlMain');

        form.addEventListener('submit', handleSubmit);
        input.addEventListener('input', handleInput);

        let timeoutId;

        function handleSubmit(e) {
            e.preventDefault();
            const searchQuery = input.value.trim();

            if (searchQuery.length < 2) {
                results.innerHTML = '';
                results.style.display = 'none';
                return;
            }

            fetchSearchResults(searchQuery);
        }

        function handleInput() {
            const searchQuery = input.value.trim();

            if (searchQuery.length < 2) {
                results.innerHTML = '';
                results.style.display = 'none';
                return;
            }

            clearTimeout(timeoutId);
            timeoutId = setTimeout(() => {
                fetchSearchResults(searchQuery);
            }, 500);
        }

        async function fetchSearchResults(searchQuery) {
            try {
                const response = await fetch(`./Accessory/Search?search=${searchQuery}`);
                const data = await response.text();
                results.innerHTML = data;
                results.style.display = 'block';
            } catch (error) {
                console.log(error);
            }
        }</script>