@model List<Basket>
@inject Razor_Final_Project_Code_Academy.Service.LayoutService layout
@{
    List<Product> products = ViewBag.Product;
    List<Accessory> accessories = ViewBag.Acc;

}
<section id="cart">


    <div class="container">
        @if (layout.BaskeItem().Count > 0)
        {

            <div class="row">
                <table class="tableH d-lg-block d-none">
                    <thead>
                        <tr>
                            <th class="item">
                                ITEM
                            </th>

                            <th class="price">
                                PRICE
                            </th>

                            <th class="quantity">
                                QUANTITY
                            </th>

                            <th class="total">
                                TOTAL
                            </th>
                        </tr>
                    </thead>
                    @foreach (var Basket in Model)
                    {
                        <tbody class="tableB">
                            @foreach (var item in Basket.BasketItems.Where(x => x.IsAccessuar == false))
                            {
                                Product product = products.FirstOrDefault(x => x.Id == item.ProductRamMemory.ProductId);
                                <tr>

                                    <td>
                                        <div class="img-text">
                                            <div class="image">
                                                <img src="~/assets/images/Product/@product.ProductImages.FirstOrDefault(x => x.IsMain == true)?.Image" alt="">
                                            </div>
                                            <div class="text">
                                                <div class="brand">
                                                    <span>@product.Brand.Name</span>
                                                </div>
                                                <div class="name">
                                                    <a href="">
                                                        <p>@product.Name</p>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="price">
                                            <span>$@product.Price</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="quantity">
                                            <div class="iconLeft">
                                                <button type="button" onclick="handleDEcreaseQuantity()">
                                                    <i class="fa-solid fa-chevron-down"></i>
                                                </button>
                                            </div>
                                            <div class="input">
                                                <input class="quantityInput" type="number" value="@item.SaleQuantity">
                                            </div>
                                            <div class="iconRight">
                                                <button type="button" onclick="handleIncreaseQuantity()">
                                                    <i class="fa-solid fa-chevron-up"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="totalPrice">
                                            <span>
                                                $@(item.SaleQuantity * item.UnitPrice)
                                            </span>
                                        </div>
                                        <div class="iconDelete">
                                            <a asp-controller="Basket" asp-action="DeletBasketItem" asp-route-basketItemId="@item.Id" class="delete">
                                                <i class="fa-solid fa-xmark"></i>
                                            </a>
                                        </div>
                                    </td>

                                </tr>
                            }
                            @foreach (var item in Basket.BasketItems.Where(x => x.IsAccessuar == true))
                            {
                                Accessory product = accessories.FirstOrDefault(x => x.Id == item.AccessoryColor.AccessoryId);
                                <tr class="mainDescr">

                                    <td>
                                        <div class="img-text">
                                            <div class="image">
                                                <img src="~/assets/images/Product/@product.AccessoryImages.FirstOrDefault(x => x.IsMain == true)?.Image" alt="">
                                            </div>
                                            <div class="text">
                                                <div class="brand">
                                                    <span>@product.Brand.Name</span>
                                                </div>
                                                <div class="name">
                                                    <a href="">
                                                        <p>@product.Name</p>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="price">
                                            <span>$@product.Price</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="quantity">
                                            <div class="iconLeft">
                                                <button type="button" onclick="handleDEcreaseQuantity()">
                                                    <i class="fa-solid fa-chevron-down"></i>
                                                </button>
                                            </div>
                                            <div class="input">
                                                <input class="quantityInput" type="number" value="@item.SaleQuantity">
                                            </div>
                                            <div class="iconRight">
                                                <button type="button" onclick="handleIncreaseQuantity()">
                                                    <i class="fa-solid fa-chevron-up"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="totalPrice">
                                            <span>
                                                $@(item.SaleQuantity * item.UnitPrice)
                                            </span>
                                        </div>
                                        <div class="iconDelete">
                                            <a asp-controller="Basket" asp-action="DeletBasketItem" asp-route-basketItemId="@item.Id" class="delete">
                                                <i class="fa-solid fa-xmark"></i>
                                            </a>
                                        </div>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    }
                </table>


                @foreach (var Basket in Model)
                {
                    <div class="smallDisplayTable d-lg-none d-block" style="margin-left: 15px;">
                        @foreach (var item in Basket.BasketItems.Where(x => x.IsAccessuar == false))
                        {
                            Product product = products.FirstOrDefault(x => x.Id == item.ProductRamMemory.ProductId);
                            <div class="upper">
                                <div class="image">
                                    <img src="~/assets/images/Product/@product.ProductImages.FirstOrDefault(x => x.IsMain == true)?.Image" alt="photo">
                                </div>
                                <div class="iconDelete">
                                    <a asp-controller="Basket" asp-action="DeletBasketItem" asp-route-basketItemId="@item.Id" class="delete">
                                        <i class="fa-solid fa-xmark"></i>
                                    </a>
                                </div>
                                <div class="text">
                                    <p class="brand">
                                        @product.Brand.Name
                                    </p>
                                    <p class="name">
                                        <a href="">
                                            @product.Name
                                        </a>
                                    </p>
                                </div>
                            </div>

                            <div class="price">
                                <span style="margin-right: 10px;">
                                    Price:
                                </span>
                                <span>
                                    $@product.Price
                                </span>
                            </div>
                            <div class="quantity">
                                <span style="margin-right: 10px;">
                                    Quantity:
                                </span>
                                <div class="iconLeft">
                                    <button onclick="handleDEcreaseQuantitySM()">
                                        <i class="fa-solid fa-chevron-down"></i>
                                    </button>
                                </div>
                                <div class="input">
                                    <input class="quantityInputSM" type="number" value="@item.SaleQuantity">
                                </div>
                                <div class="iconRight">

                                    <button onclick="handleIncreaseQuantitySM()">
                                        <i class="fa-solid fa-chevron-up"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="total">
                                <span style="margin-right: 10px;">
                                    Total:
                                </span>
                                <span style="font-weight: 700;">
                                    $800
                                </span>
                            </div>
                        }
                        @foreach (var item in Basket.BasketItems.Where(x => x.IsAccessuar == true))
                        {
                            Accessory product = accessories.FirstOrDefault(x => x.Id == item.AccessoryColor.AccessoryId);
                            <div class="upper">
                                <div class="image">
                                    <img src="~/assets/images/Product/@product.AccessoryImages.FirstOrDefault(x => x.IsMain == true)?.Image" alt="photo">
                                </div>
                                <div class="iconDelete">
                                    <a asp-controller="Basket" asp-action="DeletBasketItem" asp-route-basketItemId="@item.Id" class="delete">
                                        <i class="fa-solid fa-xmark"></i>
                                    </a>
                                </div>
                                <div class="text">
                                    <p class="brand">
                                        @product.Brand.Name
                                    </p>
                                    <p class="name">
                                        <a href="">
                                            @product.Name
                                        </a>
                                    </p>
                                </div>
                            </div>

                            <div class="price">
                                <span style="margin-right: 10px;">
                                    Price:
                                </span>
                                <span>
                                    $@product.Price
                                </span>
                            </div>
                            <div class="quantity">
                                <span style="margin-right: 10px;">
                                    Quantity:
                                </span>
                                <div class="iconLeft">
                                    <button onclick="handleDEcreaseQuantitySM()">
                                        <i class="fa-solid fa-chevron-down"></i>
                                    </button>
                                </div>
                                <div class="input">
                                    <input class="quantityInputSM" type="number" value="@item.SaleQuantity">
                                </div>
                                <div class="iconRight">

                                    <button onclick="handleIncreaseQuantitySM()">
                                        <i class="fa-solid fa-chevron-up"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="total">
                                <span style="margin-right: 10px;">
                                    Total:
                                </span>
                                <span style="font-weight: 700;">
                                    $800
                                </span>
                            </div>
                        }

                    </div>
                }

                <ul class="shippingInfo col-md-12 col-sm-12">
                    <li>
                        <div class="subtotal">
                            <span>
                                <b>Subtotal:</b>
                            </span>

                            <span>
                                $@layout.BaskeItem().Sum(x => x.SaleQuantity * x.UnitPrice);
                            </span>
                        </div>
                    </li>
                    <li class="grandPrice">
                        <div class="grand">
                            <span class="text">
                                <b>
                                    Grand total:
                                </b>
                            </span>
                            <span class="price">
                                <b>
                                    @layout.BaskeItem().Sum(x => x.SaleQuantity * x.UnitPrice);$
                                </b>
                            </span>
                        </div>
                    </li>


                    <li class="check">
                        <div class="button">
                            <a asp-controller="Order" asp-action="Index">
                                CHECK OUT
                            </a>
                        </div>
                    </li>
                </ul>

            </div>
        }
        else
        {
            <div class="alertMessage">
                <div class="alert alert-primary" role="alert">
                    Youre Cart is empty!
                </div>
            </div>
        }
    </div>

   
    
   
</section>


