@model List<Order>
@inject Razor_Final_Project_Code_Academy.Service.LayoutService layoutService
@{
    List<Accessory> acc = layoutService.Accessories();
    List<Product> products = layoutService.Products();
}
<section id="accountInfo">
    <div class="container">
        <div class="row">
            <div class="title">
                <h1 class="TitleText">
                    Orders
                </h1>
            </div>
            <ul>
                <li class="current">ORDERS</li>
                <li class="colorChange"><a asp-controller="Wishlist" asp-action="Index">WISH LISTS</a></li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="colorChange"><a asp-controller="Account" asp-action="AccountDetails">ACCOUNT SETTINGS</a></li>
                }
            </ul>

                @if (Model.Count() > 0)
                {
                    @foreach (var item in Model)
                    {
                            @foreach (var items in item.OrderItems.Where(x => x.IsAccessuar == false))
                            {

                                Product product = products.FirstOrDefault(x => x.Id == items.ProductRamMemory.ProductId);
                                <div class="content" style="padding-left: 0; padding-top: 20px;">

                                    <div class="mainContent" style="margin-top:10px;">
                                        <div class="image">
                                            <img style="width:120px; height:120px; object-fit:contain;" src="~/assets/images/Product/@product.ProductImages.FirstOrDefault(x=>x.IsMain == true)?.Image" alt="">
                                        </div>
                                        <div class="name" style="width:150px; text-align:center;">
                                            <span><a asp-controller="Shop" asp-action="DetailPhone" asp-route-id="@product.Id">@product.Name</a></span>
                                        </div>
                                        <div class="price" style="width:65px; text-align:center;">
                                            <span>$@product.Price</span>
                                        </div>
                                        <div class="date">
                                            @item.CreatedTime
                                        </div>
                                    </div>
                                </div>

                            }

                            @foreach (var items in item.OrderItems.Where(x => x.IsAccessuar == true))
                            {
                                Accessory accessory = acc.FirstOrDefault(x => x.Id == items.AccessoryColor.AccessoryId);
                                <div class="content" style="padding-left: 0; padding-top: 20px;">


                                    <div class="mainContent" style="margin-top:10px;">
                                        <div class="image">
                                            <img style="width:120px; height:120px; object-fit:contain;" src="~/assets/images/Product/@accessory.AccessoryImages.FirstOrDefault(x => x.IsMain == true)?.Image" alt="">
                                        </div>
                                        <div class="name" style="width: 150px; text-align: center;">
                                            <span><a asp-controller="Shop" asp-action="DetailAccessory" asp-route-id="@accessory.Id">@accessory.Name</a></span>
                                        </div>
                                        <div class="price" style="width:65px; text-align:center;">
                                            <span>$@accessory.Price</span>
                                        </div>
                                        <div class="date">
                                            @item.CreatedTime
                                        </div>
                                    </div>
                                </div>
                            }
                    }
                }
                else
                {
                    <div class="alertMessage">
                        <div class="alert alert-primary" role="alert">
                            You dont't have any orders with us. Wait for them status accept.
                        </div>
                    </div>
                }
        </div>
    </div>
</section>
