@model Accessory

@{
    List<Accessory> accessories = ViewBag.Accessory;
    List<Product> products = ViewBag.Product;
    List<Wishlist> wishlist = ViewBag.WishList;
}
<section id="detail">
    <div class="container">
        <div class="row">
            <div class="leftside col-lg-3">
                <div class="category">

                    <div class="title">
                        <div class="text">
                            <h5>Categories</h5>
                        </div>
                        <div class="lineOrange">
                            <p class="line"></p>
                            <p class="lineSecondary"></p>
                        </div>
                    </div>

                    <div class="categoryList">
                        <ul>
                            @foreach (var item in ViewBag.Category)
                            {
                                <li><a href="">@item.Name</a></li>
                            }
                        </ul>
                    </div>

                </div>

                <div class="bestSellers">
                    <div class="title">
                        <div class="text">
                            <h5>Best Sellers</h5>
                        </div>
                        <div class="lineOrange">
                            <p class="line"></p>
                            <p class="lineSecondary"></p>
                        </div>
                    </div>
                    <div class="responsive">
                        <div>
                            <ul>
                                @await Html.PartialAsync("_BestSellersProductPartial", products)

                            </ul>
                        </div>
                        <div>
                            <ul>
                                @await Html.PartialAsync("_BestSellerAccessoryPartial", accessories)

                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="rightSide col-lg-9">
                <div class="mainDetail">
                    <div class="aboutProduct">
                        <div class="photo">

                            <div class="mainImage">
                                <img style="height:520px; object-fit:contain;" src="~/assets/images/Product/@Model.AccessoryImages.FirstOrDefault(x=>x.IsMain == true)?.Image" alt="">
                            </div>

                            <div class="smallImages" style="padding-top:10px;">
                                @foreach (var item in Model.AccessoryImages)
                                {
                                    <div class="images">
                                        <img style="height:100%;" src="~/assets/images/Product/@item.Image" alt="">
                                    </div>
                                }
                            </div>

                        </div>
                        <div class="titleMain" style="width: 100%;">
                            <div class="name">
                                <h1>@Model.Name</h1>
                            </div>


                            <div class="accordion" id="accordionExample">

                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                                aria-expanded="false" aria-controls="collapseThree"
                                                style="color: #999;">
                                            Write a Review
                                        </button>
                                    </h2>
                                    <div id="collapseThree" class="accordion-collapse collapse"
                                         data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <form asp-action="AddCommentAccessory" method="post" asp-route-id="@Model.Id">
                                                <label for="name">Name:</label><br>
                                                <input asp-for="AccessoryComments.FirstOrDefault(cm => cm.Product.Id == Model.Id).Name" type="text" id="name" placeholder="Write youre name"><br>

                                                <label for="email">Email:</label><br>
                                                <input asp-for="AccessoryComments.FirstOrDefault(cm => cm.Product.Id == Model.Id).Email" type="email" id="email"
                                                       placeholder="Write youre email"><br>


                                                <label for="subject">Review Subject</label><br>
                                                <input asp-for="AccessoryComments.FirstOrDefault(cm => cm.Product.Id == Model.Id).Title" type="text" id="subject"
                                                       placeholder="Write youre review subject"><br>

                                                <label for="comment">Comment</label><br>
                                                <input asp-for="AccessoryComments.FirstOrDefault(cm => cm.Product.Id == Model.Id).Text" type="text" id="comment"
                                                       placeholder="Write youre comment">


                                                <button type="submit" style="font-size: 13px; padding-top: 0px; border-radius: 25px; text-align: center; display: inline-block; text-decoration: none; background-color: #232f3fee; color: white; width: 140px; height: 36px; border:none; margin-top:10px;">
                                                    Add Comment
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            @if (Model.DiscountPrice == 0 || Model.Discount == 0)
                            {

                                <div class="prices">
                                    <div class="realPrice">
                                        <span>@Model.Price</span>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="prices">
                                    <div class="discountPrice">
                                        <span>@Model.Price</span>
                                    </div>
                                    <div class="realPrice">
                                        <span>@Model.DiscountPrice</span>
                                    </div>
                                </div>
                            }
                            <div class="about">
                                <ul>
                                    <li>Brand:</li>
                                    <li>SKU:</li>
                                    <li>__countdown:</li>
                                </ul>
                                <ul class="right">
                                    <li><a href="">@Model.Brand.Name</a></li>
                                    <li>@Model.SKU</li>
                                    <li>Date</li>
                                </ul>
                            </div>
                            <form asp-controller="Basket" asp-action="Addbasket" asp-route-productId="@Model.Id" method="post">
                                <div class="inputs">

                                    <div class="ram">
                                        <label for="">Color:</label> <br>
                                        <select asp-for="Adding.ColorId" asp-items="@(new SelectList(ViewBag.Color,"Id","ColorName"))" style=" width: 75px;">
                                        </select>
                                    </div>

                                    <div class="input">
                                        <div class="mainInput">
                                            <label for="count">Quantity:</label><br>
                                            <input type="number" value="1" class="quantityInput" asp-for="Adding.Quantity" id="count">
                                        </div>
                                        <div class="chevrons">
                                            <button type="button" onclick="handleIncreaseQuantity()">
                                                <i class="fa-solid fa-chevron-up"></i>
                                            </button>
                                            <button type="button" onclick="handleDEcreaseQuantity()">
                                                <i class="fa-solid fa-chevron-down"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="addToCard">
                                    <div class="add">
                                        <button type="submit" class="addToCard">
                                            ADD TO CARD
                                        </button>
                                    </div>
                                    <div class="wishlist">

                                        <div class="icon">
                                            <i class="fa-solid fa-heart"></i>
                                        </div>
                                        <div class="text">
                                            <span>
                                                Add To Wish List
                                            </span>
                                        </div>

                                        <div class="panelWish">
                                            @if (User.Identity.IsAuthenticated)
                                            {
                                                if (wishlist != null && wishlist.Any())
                                                {
                                                    bool isItemInWishlist = wishlist.Any(item => item.AccessoryId == Model.Id);

                                                    if (isItemInWishlist)
                                                    {
                                                        <div class="deleteFromWishlist">
                                                            <a asp-controller="Wishlist" asp-action="RemoveWishListAcc" asp-route-Id="@Model.Id">
                                                                <p>Remove From Wish List</p>
                                                            </a>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="addToWishlist">
                                                            <a asp-controller="Wishlist" asp-action="AddWishListAcc" asp-route-Id="@Model.Id">
                                                                <p>Add To My Wish List</p>
                                                            </a>
                                                        </div>
                                                    }
                                                }
                                                else
                                                {
                                                    <div class="addToWishlist">
                                                        <a asp-controller="Wishlist" asp-action="AddWishListAcc" asp-route-Id="@Model.Id">
                                                            <p>Add To My Wish List</p>
                                                        </a>
                                                    </div>
                                                }
                                            }

                                        </div>


                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="description">
                        <div class="title">
                            <div class="text">
                                <h5>Description</h5>
                            </div>
                            <div class="lineOrange">
                                <p class="line"></p>
                                <p class="lineSecondary"></p>
                            </div>
                        </div>
                        <div class="mainDescr">
                            <p>
                                @Model.Descr
                            </p>
                        </div>
                    </div>
                    <div class="customersAlso">
                        <div class="title">
                            <div class="text">
                                <h5>Customers Also Viewed</h5>
                            </div>
                            <div class="lineOrange">
                                <p class="firstOfFirst"></p>
                                <p class="line"></p>
                                <p class="lineSecondary"></p>
                            </div>
                        </div>

                        <div class="products">
                            <ul class="col-lg-3">
                                <li>
                                    <div class="image">
                                        <a href="">
                                            <img src="~/assets/images/Product/13__93391.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="text">
                                        <div class="brand">
                                            <span>
                                                Brand name here
                                            </span>
                                        </div>
                                        <div class="name">
                                            <span>
                                                Product Name Here
                                            </span>
                                        </div>
                                        <div class="price">
                                            <span>$119</span>
                                        </div>
                                        <div class="addToCard">
                                            <a href="">
                                                Add To Card
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <ul class="col-lg-3">
                                <li>
                                    <div class="image">
                                        <a href="">
                                            <img src="~/assets/images/Product/13__93391.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="text">
                                        <div class="brand">
                                            <span>
                                                Brand name here
                                            </span>
                                        </div>
                                        <div class="name">
                                            <span>
                                                Product Name Here
                                            </span>
                                        </div>
                                        <div class="price">
                                            <span>$119</span>
                                        </div>
                                        <div class="addToCard">
                                            <a href="">
                                                Add To Card
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <ul class="col-lg-3">
                                <li>
                                    <div class="image">
                                        <a href="">
                                            <img src="~/assets/images/Product/13__93391.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="text">
                                        <div class="brand">
                                            <span>
                                                Brand name here
                                            </span>
                                        </div>
                                        <div class="name">
                                            <span>
                                                Product Name Here
                                            </span>
                                        </div>
                                        <div class="price">
                                            <span>$119</span>
                                        </div>
                                        <div class="addToCard">
                                            <a href="">
                                                Add To Card
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <ul class="col-lg-3">
                                <li>
                                    <div class="image">
                                        <a href="">
                                            <img src="~/assets/images/Product/13__93391.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="text">
                                        <div class="brand">
                                            <span>
                                                Brand name here
                                            </span>
                                        </div>
                                        <div class="name">
                                            <span>
                                                Product Name Here
                                            </span>
                                        </div>
                                        <div class="price">
                                            <span>$119</span>
                                        </div>
                                        <div class="addToCard">
                                            <a href="">
                                                Add To Card
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <ul class="col-lg-3">
                                <li>
                                    <div class="image">
                                        <a href="">
                                            <img src="~/assets/images/Product/13__93391.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="text">
                                        <div class="brand">
                                            <span>
                                                Brand name here
                                            </span>
                                        </div>
                                        <div class="name">
                                            <span>
                                                Product Name Here
                                            </span>
                                        </div>
                                        <div class="price">
                                            <span>$119</span>
                                        </div>
                                        <div class="addToCard">
                                            <a href="">
                                                Add To Card
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <ul class="col-lg-3">
                                <li>
                                    <div class="image">
                                        <a href="">
                                            <img src="~/assets/images/Product/13__93391.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="text">
                                        <div class="brand">
                                            <span>
                                                Brand name here
                                            </span>
                                        </div>
                                        <div class="name">
                                            <span>
                                                Product Name Here
                                            </span>
                                        </div>
                                        <div class="price">
                                            <span>$119</span>
                                        </div>
                                        <div class="addToCard">
                                            <a href="">
                                                Add To Card
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="reviews">
                        <div class="title">
                            <div class="text">
                                <h5>Reviews</h5>
                            </div>
                            <div class="lineOrange">
                                <p class="firstOfFirst"></p>
                                <p class="line"></p>
                                <p class="lineSecondary"></p>
                            </div>
                        </div>

                        <div class="mainCommentContent">
                            <div class="row">
                                @foreach (var item in Model.AccessoryComments)
                                {
                                    <div class="comments col-lg-12 col-12">

                                        <div class="name">
                                            <p>@item.CreationTime</p>
                                        </div>

                                        <div class="about">
                                            <div class="name">
                                                <p><span style="margin-right:10px;" class="OrangeColor">Name:</span>@item.Name</p>
                                            </div>
                                            <div class="email">
                                                <p><span style="margin-right:10px;" class="OrangeColor">Email:</span>@item.Email</p>
                                            </div>
                                        </div>
                                        <div class="subject">
                                            <p><span style="margin-right:10px;" class="OrangeColor">Subject:</span>@item.Title</p>
                                        </div>
                                        <div class="comment">
                                            <p><span style="margin-right:10px;" class="OrangeColor">Comment:</span>@item.Text</p>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="up">
            <i class="fa-solid fa-chevron-up"></i>
        </div>
    </div>
</section>

@section Script{

    <script src="~/assets/js/detail.js"></script>
}
