@model Tuple<List<Product>, List<Accessory>>

@{
    List<Ram> ram = ViewBag.Ram;
    List<Memory> memory = ViewBag.Memory;
    List<Color> color = ViewBag.Color;
    List<Category> category = ViewBag.Category;
    List<Brand> brands = ViewBag.Brand;
}
<section id="shop">
    <div class="container">
        <div class="row">
            <div class="leftSide col-lg-3">
                <div class="refine">
                    <div class="title">
                        <div class="text">
                            <h5>Refine by</h5>
                        </div>
                        <div class="lineOrange">
                            <p class="line"></p>
                            <p class="lineSecondary"></p>
                        </div>
                    </div>
                </div>
                <form asp-controller="Shop" asp-action="Index" method="post">
                    <div class="category">
                        <div class="name">
                            <span>Category</span>
                        </div>

                        @foreach (var item in category)
                        {
                            <div class="inputs">
                                <input type="checkbox" name="CategoryIds" value="@item.Id" id="cat1">
                                <label for="cat1">@item.Name</label>
                            </div>
                        }

                    </div>


                    @*<div class="category">
                        <div class="name">
                            <span>Brand</span>
                        </div>

                        @foreach (var item in brands)
                        {
                            <div class="inputs">
                                <input type="checkbox" name="BrandIds" value="@item.Id" id="cat1">
                                <label for="cat1">@item.Name</label>
                            </div>
                        }

                    </div>*@

                    <div class="ram">
                        <div class="name">
                            <span>Ram</span>
                        </div>

                        @foreach (var item in ram)
                        {
                            <div class="inputs">
                                <input type="checkbox" name="RamIds" value="@item.Id" id="cat1">
                                <label for="cat1">@item.RamName GB</label>
                            </div>
                        }

                    </div>

                    <div class="memory">
                        <div class="name">
                            <span>Memory</span>
                        </div>

                        @foreach (var item in memory)
                        {
                            <div class="inputs">
                                <input type="checkbox" name="MemoryIds" value="@item.Id" id="cat1">
                                <label for="cat1">@item.MemoryName GB</label>
                            </div>
                        }

                    </div>

                    <div class="countDown">
                        <div class="name">
                            <span>Watches Color</span>
                        </div>

                        @foreach (var item in color)
                        {
                            <div class="inputs">
                                <input type="checkbox" name="ColorIds" value="@item.Id" id="cat1">
                                <label for="cat1">@item.ColorName</label>
                            </div>
                        }

                    </div>
                    <div>
                        <button style="width: 88px;
                                height: 35px;
                                border-radius: 20px;
                                font-size: 13px;
                                border: none;
                                background-color: #444;
                                border-color: #444;
                                color: #fff;
                                margin-top: 20px;" type="submit">
                            Filter
                        </button>
                    </div>
                </form>
            </div>
            <div class="rightSide col-lg-9">
                <div class="sort">
                    <div class="name">
                        SORT BY:
                    </div>
                    <form  method="post">
                        <select name="sortOrder" id="sortOrder">
                            <option value="A-Z">A-Z</option>
                            <option value="Z-A">Z-A</option>
                            <option value="PriceAscending">Price: Ascending</option>
                            <option value="PriceDescending">Price: Descending</option>
                        </select>
                    </form>
                </div>
                <div class="mainContent">
                    <div class="row">

                        @await Html.PartialAsync("_ProductPartial", Model.Item1)


                        @await Html.PartialAsync("_AccessuarPartial", Model.Item2)

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<div class="listing-show-more-wrap d-flex mt-4 mt-md-6 justify-content-center align-items-start">
    <ul class="pagination mt-0">
        @for (int i = 1; i <= ViewBag.TotalPage; i++)
        {
            <li class="@(i==ViewBag.CurrentPage ? "active" : "")"><a asp-action="Index" asp-route-page="@i">@i</a></li>
        }
    </ul>
</div>